@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { font-size: 150%; }
  body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Arial, sans-serif;
  }
}
